@import "../../lib/styles/variables.scss";
section.selection-cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 800px;
    margin: $space-xl auto 0 auto;
    @media screen and (max-width: $tablet) {
        margin-top: $space-xl;
        padding: 0 $space-sm;
    }
}
.selection-cards__row {
    display: flex;
    width: 100%;
    margin-bottom: $space-xl;
    & > .selection-card {
        margin-right: $space-xl;
    }
    & > .selection-card {
        background: $light-grey;
    }
    @media screen and (max-width: $tablet) {
        & {
            flex-direction: column;
            margin-bottom: 0;
        }
        & > .selection-card {
            margin-bottom: $space-xl;
        }
    }
}
