@import "../../lib/styles/variables.scss";
section.selection-cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 800px;
    margin: 0 auto;
}
.selection-cards__row {
    display: flex;
    width: 100%;
    margin-bottom: $space-xl;
    & > .selection-card {
        margin-right: $space-xl;
    }
    @media screen and (max-width: $tablet) {
        flex-direction: column;
    }
}

