@import "src/lib/styles/variables.scss";
.dashboard-main-content {
    width: 100%;
}
.dashboard-container {
    display: flex;
    width: 100%;
    // background: lightblue;
    @media screen and (max-width: $tablet) {
        height: 100vh;
    }
}
.dashboard-header {
    display: flex;
    align-items: center;
    padding: $space-xl;
}
.dashboard-header__text-content {
    margin-left: $space-xl;
    & > h2, & > p {
        margin: 0;
    }
}
.dashboard-header__buttons {
    margin: 0 0 0 auto;
    & > * {
        margin-right: $space-md;
    }
    & > *:last-child {
        margin-right: 0;
    }
}
.dashboard-nav {
    @media screen and (max-width: $tablet) {
        display: none;
    }
}
.dashboard-footer {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    @media screen and (min-width: $tablet) {
        display: none;
    }
}