@import "src/lib/styles/variables.scss";
.schedule-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 350px;
    background: $white;
}

.schedule-card__content {
    background: $white;
    width: 100%;
}
.schedule-card__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.schedule-card__msg-box {
    border: 1px solid $grey;
    border-radius: 2px;
    padding: $space-md $space-md $space-xl;
    position: relative;
    margin-bottom: $space-md;
    &:before {
        content: "Message";
        position: absolute;
        background: $white;
        top: -12px;
    }
}
.schedule-card__date-box {
    border: 1px solid $grey;
    border-radius: 2px;
    padding: $space-sm;
    position: relative;
    &:before {
        content: "Dates to Send";
        position: absolute;
        background: $white;
        top: -12px;
    }
}
.schedule-card__date {
    margin: 0;
}