@import "../../../../lib/styles/variables.scss";

.dash-sidebar {
    max-width: 400px;
    height: 100vh;
}
.dash-sidebar__header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2.4em;
}

.sidebar-header__text-content {
    margin-left: $space-xl;
    & > h2, & > p {
        margin: 0;
    }
}

.dash-sidebar__content {
    display: flex;
    flex-direction: column;
    padding: 2.4em;
}